@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0f14;
  color: #e5e9f0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #243040;
  border-radius: 4px;
}
